# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
*.ipr
*.iws
*.log
target/
.project
.settings/
.classpath
.metadata
jdg-internal-imagestream.json
decisionserver-internal-imagestream.json
amq-internal-imagestream.json

