# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
*.ipr
*.iws
*.log
*.jar
target/
.project
.settings/
.ObjectStore/
.classpath
.metadata
jdg-internal-imagestream.json
decisionserver-internal-imagestream.json
amq-internal-imagestream.json

/bin/
